.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100% !important;
}

::deep .login-button {
    margin: auto;
    margin-bottom: 0.35rem;
    color: var(--mud-palette-tertiary-text) !important;
}

::deep .login-header {
    margin-bottom: 1rem;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

::deep .btn-login-footer {
    padding: 0.5rem !important;
    background-color: var(--mud-palette-surface);
    width: 100%;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

    ::deep .btn-login-footer:hover {
        color: var(--mud-palette-primary);
    }
