/*::deep .mud-chart-legend {
    display: grid !important;
    padding: 0px 0px !important;
}*/

.table-no-records-content {
    background-color: var(--mud-palette-background-grey) !important;
    margin-top: -12px !important;
    margin-bottom: -12px !important;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.editor-container {
    width: 97.5%;
    max-width: 97.5%;
}

::deep .mud-table-container {
    min-height: 670px;
}

::deep .mud-table-products {

    background-color: var(--mud-palette-background-grey) !important;
}

::deep .mud-table-cell {
    background-color: var(--mud-palette-background-grey) !important;
}

::deep .mud-table-row{
    height: 57px !important;
}

::deep .mud-table-toolbar {
    height: auto !important;
}

::deep .skeletons {
    background-color: rgba(72 72 72, 0.65) !important;
}